---
import HTML from "./icons/HTML.astro"
import JS from "./icons/Javascript.astro"
import CSS from './icons/CSS.astro'

const TAGS ={
    html :{
        name:'HTML',
        class:'bg-black text-white',
        icon:HTML,
        pixel:'size-7'
    },
    JS :{
        name:'JAVASCRIPT',
        class:'bg-black text-white',
        icon:JS,
        pixel:'size-8'
    },
    CSS :{
        name:'CSS',
        class:'bg-black text-white',
        icon:CSS,
        pixel:'size-9'
    }
}

const CHATWEB = [
 {
    title:'1. CHAT WEB',
    description:`Nuestra plataforma te permite mantenerte en contacto con tus amigos mediante un chat en tiempo real y ver sus publicaciones más recientes. Ya sea para compartir momentos especiales, fotos, o simplemente para mantenerse en contacto.`,
    link:'Visíta la pagina en: ',
    github:'El código se encuentra en: ',
    tags: [TAGS.html , TAGS.JS , TAGS.CSS]
 }
]
const HAMBURGERS = [
 {
    title:'2. HAMBURG WEB',
    description:`Nuestra plataforma te permite mantenerte en contacto con tus amigos mediante un chat en tiempo real y ver sus publicaciones más recientes. Ya sea para compartir momentos especiales, fotos, o simplemente para mantenerse en contacto.`,
    link:'Visíta la pagina en: ',
    github:'El código se encuentra en: ',
    tags: [TAGS.html , TAGS.JS , TAGS.CSS]
 }
]
const PELOTA = [
 {
    title:'3. PELOTA ROJA',
    description:`Nuestra plataforma te permite mantenerte en contacto con tus amigos mediante un chat en tiempo real y ver sus publicaciones más recientes. Ya sea para compartir momentos especiales, fotos, o simplemente para mantenerse en contacto.`,
    link:'Visíta la pagina en: ',
    github:'El código se encuentra en: ',
    tags: [TAGS.html , TAGS.JS , TAGS.CSS]
 }
]

const SNAKE = [
 {
    title:'4. SNAKE',
    description:`Nuestra plataforma te permite mantenerte en contacto con tus amigos mediante un chat en tiempo real y ver sus publicaciones más recientes. Ya sea para compartir momentos especiales, fotos, o simplemente para mantenerse en contacto.`,
    link:'Visíta la pagina en: ',
    github:'El código se encuentra en: ',
    tags: [TAGS.html , TAGS.JS , TAGS.CSS]
 }
]

---
{

CHATWEB.map(({title,description,link,github,tags})=>(
    <article class="mb-10">
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2 opacity-90" > {title} </h3>
        <p class="text-lg mb-2 text-pretty" > {description} </p>
        <p class="text-lg mb-2 text-pretty text-yellow-100" > {link} <a class="text-blue-200" href="https://chat-web-rho-five.vercel.app/#">CHAT WEB.</a> </p>
        <p class="text-lg mb-4 text-pretty text-yellow-100" > {github} <a class="text-blue-200" href="https://github.com/markhitos1/CHAT-WEB.git">GITHUB.</a> </p>
        <ul class="flex gap-x-2 flex-row " >
            { tags.map((tag)=>(
                   <span class={` flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-4 mb-2`}>
                     <tag.icon class={tag.pixel}/>
                    <li class="mt-2" >{tag.name}</li>
                   </span>
                ))}
        </ul>
      <img 
      class="rounded shadow-2xl shadow-white/10"
      src="/img/project-1.png" alt="una captura"/>
    </article>
))
}

{

HAMBURGERS.map(({title,description,link,github,tags})=>(
    <article  class="mb-10">
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2 opacity-90" > {title} </h3>
        <p class="text-lg mb-2 text-pretty" > {description} </p>
        <p class="text-lg mb-2 text-pretty text-yellow-100" > {link} <a class="text-blue-200" href="https://hamburguers.vercel.app/">HAMBURG WEB.</a> </p>
        <p class="text-lg mb-4 text-pretty text-yellow-100" > {github} <a class="text-blue-200" href="https://github.com/markhitos1/HamburWeb">GITHUB.</a> </p>
        <ul class="flex gap-x-2 flex-row " >
            { tags.map((tag)=>(
                   <span class={` flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-4 mb-2`}>
                     <tag.icon class={tag.pixel}/>
                    <li class="mt-2" >{tag.name}</li>
                   </span>
                ))}
        </ul>
      <img 
      class="rounded shadow-2xl shadow-white/10"
      src="/img/chat-web.png" alt="una imagen"/>
    </article>
))
}

{

    PELOTA.map(({title,description,link,github,tags})=>(
        <article  class="mb-10" >
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2 opacity-90" > {title} </h3>
            <p class="text-lg mb-2 text-pretty" > {description} </p>
            <p class="text-lg mb-2 text-pretty text-yellow-100" > {link} <a class="text-blue-200" href="https://pelota-roja.vercel.app/">PELOTA ROJA.</a> </p>
            <p class="text-lg mb-4 text-pretty text-yellow-100" > {github} <a class="text-blue-200" href="https://github.com/markhitos1/PELOTA-ROJA/tree/master">GITHUB.</a> </p>
            <ul class="flex gap-x-2 flex-row " >
                { tags.map((tag)=>(
                       <span class={` flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-4 mb-2`}>
                         <tag.icon class={tag.pixel}/>
                        <li class="mt-2" >{tag.name}</li>
                       </span>
                    ))}
            </ul>
          <img 
          class="rounded shadow-2xl shadow-white/10"
          src="/img/pelo-roja.png" alt="una imagen"/>
        </article>
    ))
    }
    
    {

        SNAKE.map(({title,description,link,github,tags})=>(
            <article  class="mb-10" >
                <h3 class="text-2xl font-semibold text-yellow-200 mb-2 opacity-90" > {title} </h3>
                <p class="text-lg mb-2 text-pretty" > {description} </p>
                <p class="text-lg mb-2 text-pretty text-yellow-100" > {link} <a class="text-blue-200" href="https://pelota-roja.vercel.app/">SNAKE.</a> </p>
                <p class="text-lg mb-4 text-pretty text-yellow-100" > {github} <a class="text-blue-200" href="https://github.com/markhitos1/PELOTA-ROJA/tree/master">GITHUB.</a> </p>
                <ul class="flex gap-x-2 flex-row " >
                    { tags.map((tag)=>(
                           <span class={` flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-4 mb-2`}>
                             <tag.icon class={tag.pixel}/>
                            <li class="mt-2" >{tag.name}</li>
                           </span>
                        ))}
                </ul>
              <img 
              class="rounded shadow-2xl shadow-white/10"
              src="/img/snake.png" alt="una imagen"/>
            </article>
        ))
        }    



